* {
  font-family: "Bahnschrift";
}

body {
  margin: 0;
  background: #c0e1ff7a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-image: url('Image/titelblatt.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.noShow{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  color:var(--text-color);
}

:root {
  --bg:  #4d6e8fff;
  --bg-accent: #3a5379c0;
  --bg-accent2: #91a6c5;
  --bg-accent3: #becce2e5;
  --text-color: rgb(255, 251, 224);
  --text-color2:  rgba(255, 251, 224,0);
  --nav-size: 60px;
  --border: 2px solid #0f2b47;
  --border-radius: 8px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding-right: 2%;
  border-bottom: var(--border);
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items:center;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #081f41;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  color: var(--text-color);
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.apptitle {
  display:flex;
  margin-right: 48%;
  justify-content: center;
  font-weight: bolder;
  font-size: 20pt;
  color: var(--text-color);
}

/* Dropdown Menu */

@keyframes blurout {
  0%   {filter:blur(5px);}
  100% {filter:blur(0px);}
}

.footer {
  background-color: var(--bg);
  position: fixed;
  color:var(--text-color);
  width:100vw;
  padding-left: 10%;
  bottom:0;
}

.footer1 {
  background-color: var(--bg);
  position: fixed;
  color:var(--text-color);
  width:100%;
  bottom:0;
  animation-name: blurout;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.app {
  animation-name: blurout;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.container {
  padding-left: 10%;
  max-width: 80%;
}

.dropdown {
  z-index: 10;
  position: absolute;
  top: 50px;
  width: 300px;
  transform: translateX(-65%);
  background-image: linear-gradient(#4d6e8fc0, #4d6e8fff);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.dropdown2 {
  display: none;
  position: absolute;
  top: 50px;
  width: 300px;
  transform: translateX(-65%);
  background-image: linear-gradient(#4d6e8fc0, #4d6e8fff);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: var(--bg-accent);
}

.icon-right {
  margin-left: auto;
}

.vollkost {
  float: left;
  width: 30%;
  margin-left: 30%;
}
.vegetarisch {
  float: right;
  width: 30%;
  margin-right: 10%;
}
@keyframes blur {
  0%   {filter:blur(0px);}
  100% {filter:blur(5px);}
}
.blur{
  filter:blur(5px);
  animation-name: blur;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.blurfooter{
    background-color: var(--bg);
    position: fixed;
    color:var(--text-color);
    width:100vw;
    bottom:0;
    animation-name: blur;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes expandin {
  0%    {filter: blur(5px); width:0vw; height:0vh;left:30vw;top: 16vh;opacity: 0.93;}
  100%  {filter: blur(0px); width:20vw; height:28vh;left:40vw; top: 30vh;opacity: 0.93;} 
}

@keyframes expandout {
  0%    {filter: blur(0px); width:20vw; height:28vh;left:40vw; top: 30vh;opacity: 0.93;} 
  100%  {filter: blur(5px); width:0vw; height:0vh;left:30vw;top: 16vh;opacity: 0.93;}
}

@keyframes expandfields {
  0%    {filter: blur(5px); width:0%;height:0%;opacity: 1;}
  100%  {filter: blur(0px); width:90%;height:auto;opacity: 1;} 
}

@keyframes expandfields2 {
  0%    {filter: blur(5px); width:0%;height:0%;opacity: 1;}
  100%  {filter: blur(0px); width:90%;height:auto;opacity: 1;} 
}

@keyframes expandin2 {
  0%    {left:40vw;top: 30vh;width: 20vw;opacity: 0.93;}
  100%  {height:44vh;left:40vw; top: 20vh;opacity: 0.93;} 
}
@keyframes expandin3 {
  0%    {height:44vh;left:40vw; top: 20vh;opacity: 0.93;}
  100%  {height:28vh;left:40vw; top: 30vh;opacity: 0.93;} 
}


.login-feld-signin{
  z-index: 1;
  opacity: 0;
  position: absolute;
  background: var(--bg-accent2);
  backdrop-filter:opacity(0.5);
  border: outset 4px var(--bg);
  filter: blur(5px);
  left: 40vw;
  top: 30vh;
  width: 0vw;
  height:0vh;
  padding: 2%;
  border: outset 4px var(--bg);
  animation-name: expandin;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.login-feld-signin-out{
  z-index: 1;
  opacity: 0;
  position: absolute;
  background: var(--bg-accent2);
  backdrop-filter:opacity(0.5);
  border: outset 4px var(--bg);
  filter: blur(5px);
  left: 40vw;
  top: 30vh;
  width: 20vw;
  height:28vh;
  padding: 2%;
  border: outset 4px var(--bg);
  animation-name: expandout;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.login-feld-signup{
  z-index: 1;
  height:28vh;
  left:40vw;
  top: 30vh;
  width: 20vw;
  opacity: 0.93;
  position: absolute;
  background: var(--bg-accent2);
  border: outset 4px var(--bg);
  padding: 2%;
  border: outset 4px var(--bg);
  animation-name: expandin2;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.login-feld-signin-2{
  z-index: 1;
  height:44vh;
  left:40vw;
  top: 20vh;
  width: 20vw;
  opacity: 0.93;
  position: absolute;
  background: var(--bg-accent2);
  border: outset 4px var(--bg);
  padding: 2%;
  border: outset 4px var(--bg);
  animation-name: expandin3;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.absolutf {
  opacity: 0;
  position: absolute;
  left:5%;
  width:90%;
  height:0;
  filter: blur(5px);
  float: right;
  animation-name:  expandfields;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
.absolutf2 {
  opacity: 0;
  position: absolute;
  left:5%;
  width:90%;
  height:0;
  filter: blur(5px);
  float: right;
  animation-name:  expandfields2;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.eye {
  align-self:auto;
}
.eyediv {
  background-color: var(--bg-accent);
  border: none;
  color: #dfdfdf;
}

.inputl{
  background-color: var(--bg-accent3);
  border: none;
}


.inputb {
  border-radius: 20px !important;
  text-align: center;
  background-color: var(--bg-accent);
  border: none;
  color: #cfcfcf;
  height: 5vh;
  margin:5%;
  width: 40%;
}

.inputb:hover{
  box-shadow: inset 0 0 2em #092a52, 0.1em 0.1em 0.6em rgb(51, 51, 51);;
  border: 2px solid rgb(51, 51, 51);
  font-weight: bolder;
}

.inputb2 {
  border-radius: 20px !important;
  text-align: center;
  background-color: #a3c0eb;
  border: none;
  color: #383838;
  height: 5vh;
  margin:5%;
  width: 40%;
}

.inputb2:hover{
  box-shadow: inset 0 0 2em #3a5b83, 0.1em 0.1em 0.6em rgb(51, 51, 51);;
  border: 2px solid rgb(51, 51, 51);
  font-weight: bolder;
}

.buttonicon {
  width: 40px;
  height: 40px;
}

.buttonicon2 {
  width: 25px;
  height: 40px;
}

.tt {
  top: 30vh !important;
  left: auto !important;
}
.tt1 {
  top: -2vh !important;
  left: 0vw !important;
}
.pwt {
  border-color: lightcoral !important;
}

.pwt2 {
  border-color:lightgreen !important;
}

.zeile {
  display: flex;
  height:40vh;
  width: 81vw;
  float: left;
  overflow: hidden;
  margin-bottom: 2px;
}

@keyframes textopac{
  100% {color: var(--text-color);}
}

.spalte1 {
  position: absolute;
  display: flex;
  top: 4vh;
  left: 10vw;
  border-radius: 25px;
  height: 40vh;
  opacity: 0.6;
  width: 27vw;
  float: left;
  background-color: #081f41;
  margin: 2px;
  font-size: 20pt;
  color: var(--text-color2);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation-name: textopac;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 2s;

}
.spalte2 {
  position: absolute;
  display: flex;
  top: 4vh;
  left: 37.3vw;
  border-radius: 25px;
  height: 40vh;
  opacity: 0.6;
  width: 27vw;
  float: left;
  background-color: #081f41;
  margin: 2px;
  font-size: 20pt;
  color: var(--text-color2);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  animation-name: textopac;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5;

}
.spalte3 {
  position: absolute;
  display: flex;
  top: 4vh;
  left: 64.6vw;
  border-radius: 25px;
  height: 40vh;
  opacity: 0.6;
  width: 27vw;
  float: left;
  background-color: #081f41;
  margin: 2px;
  font-size: 20pt;
  color: var(--text-color2);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation-name: textopac;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5;
  animation-name: textopac;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5;

}

.spalte4 {
  position: absolute;
  display: flex;
  top: 45vh;
  left: 10vw;
  border-radius: 25px;
  height: 40vh;
  opacity: 0.6;
  width: 27vw;
  float: left;
  background-color: #081f41;
  margin: 2px;
  font-size: 20pt;
  color: var(--text-color2);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation-name: textopac;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5;

}
.spalte5 {
  position: absolute;
  display: flex;
  top: 45vh;
  left: 37.3vw;
  border-radius: 25px;
  height: 40vh;
  opacity: 0.6;
  width: 27vw;
  float: left;
  background-color: #081f41;
  margin: 2px;
  font-size: 20pt;
  color: var(--text-color2);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation-name: textopac;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5;

}
.spalte6 {
  position: absolute;
  display: flex;
  top: 45vh;
  left: 64.6vw;
  border-radius: 25px;
  height: 40vh;
  opacity: 0.6;
  width: 27vw;
  float: left;
  background-color: #081f41;
  margin: 2px;
  font-size: 20pt;
  color: var(--text-color2);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation-name: textopac;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5;
}

@keyframes spalte {
  100% {height: 81vh; width:81.6vw; top: 4vh; left: 10vw; opacity: 0.93; box-shadow: 0px 0px 2em rgb(0, 0, 0), inset 5px -5px 1em rgb(51, 51, 51);background-color: #081f41;color:var(--text-color);}
}

@keyframes spalte1 {
  100% {color: var(--text-color2); height: 40vh; width:27vw; top: 4vh; left: 10vw; opacity: 0.6; box-shadow: 0px 0px 0em rgb(0, 0, 0), inset 0px 0px 0em rgb(51, 51, 51);background-color: #081f41;padding-right: 0;padding-bottom: 0;}
}

@keyframes spalte2 {
  100% {height: 40vh; width:27vw; top: 4vh; left: 37.3vw; opacity: 0.6; box-shadow: 0px 0px 0em rgb(0, 0, 0), inset 0px 0px 0em rgb(51, 51, 51);background-color: #081f41;}
}

@keyframes spalte3 {
  100% {height: 40vh; width:27vw; top: 4vh; left: 64.6vw; opacity: 0.6; box-shadow: 0px 0px 0em rgb(0, 0, 0), inset 0px 0px 0em rgb(51, 51, 51);background-color: #081f41;}
}

@keyframes spalte4 {
  100% {height: 40vh; width:27vw; top: 45vh; left: 10vw; opacity: 0.6; box-shadow: 0px 0px 0em rgb(0, 0, 0), inset 0px 0px 0em rgb(51, 51, 51);background-color: #081f41;}
}

@keyframes spalte5 {
  100% {height: 40vh; width:27vw; top: 45vh; left: 37.3vw; opacity: 0.6; box-shadow: 0px 0px 0em rgb(0, 0, 0), inset 0px 0px 0em rgb(51, 51, 51);background-color: #081f41;}
}

@keyframes spalte6 {
  100% {height: 40vh; width:27vw; top: 45vh; left: 64.6vw; opacity: 0.6; box-shadow: 0px 0px 0em rgb(0, 0, 0), inset 0px 0px 0em rgb(51, 51, 51);background-color: #081f41;}
}

.spalte_anim{
  position: absolute;
  z-index: 1 !important;
  animation-name: spalte;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.spalte_anim1{
  position: absolute;
  z-index: 0 !important;
  animation-name: spalte1;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.spalte_anim2{
  position: absolute;
  z-index: 0 !important;
  animation-name: spalte2;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.spalte_anim3{
  position: absolute;
  z-index: 0 !important;
  animation-name: spalte3;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.spalte_anim4{
  position: absolute;
  z-index: 0 !important;
  animation-name: spalte4;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.spalte_anim5{
  position: absolute;
  z-index: 0 !important;
  animation-name: spalte5;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.spalte_anim6{
  position: absolute;
  z-index: 0 !important;
  animation-name: spalte6;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.spalte_big{
  display: flex;
  height: 81vh; 
  width:81.6vw; 
  top: 4vh; 
  left: 10vw; 
  opacity: 0.93;
  border-radius: 25px;
  margin: 2px;
  font-size: 20pt;
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 2em rgb(0, 0, 0), inset 5px -5px 1em rgb(51, 51, 51);
  background-color: #081f41;
}

@keyframes closebut {
  100% {opacity: 0.93;}
}

.close{
  z-index: 2 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  border-radius: 25px;
  top:4.2vh;
  left: 89.5vw;
  width: 2vw;
  height: 2vw;
  opacity: 0;
  color: var(--text-color);
  background-color: #3a5b83;
  animation-name: closebut;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.carduser {
  display: flex;
  width: 32%;
  height: 20vh !important;
  float: left;
  margin: 5px;
  background-color: var(--bg-accent);
  color: var(--text-color);
  border: none;
}

.carduserT {
  background-color: var(--bg-accent2);
  color: var(--text-color);
  border: none;
}

.chkuser {
  color:var(--text-color);
  font-size: 20pt;
}

.chkuser2{
  margin-top: 60px;
  transform: scale(1.5);
  filter: hue-rotate(25deg);
  filter: saturate(0.5)
}

.input[type="checkbox"] + span{
  background-color: #383838;
}

@keyframes sendButton {
  100% {opacity: 1;}
}

@keyframes sendButton2 {
  100% {opacity: 0;}
}

.userSend {
  position: absolute;
  top:750px;
  left:720px;
  color: var(--text-color);
  background-color: var(--bg-accent);
  padding: 15px;
  opacity: 0;
  animation-name: sendButton;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 2s;
}

.userSend2 {
  position: absolute;
  top:750px;
  left:720px;
  color: var(--text-color);
  background-color: var(--bg-accent);
  padding: 15px;
  opacity: 1;
  animation-name: sendButton2;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}